<%= render 'shared/flash_message' %>

<%= form_with model: @user, url: setting_profile_path, local: true do |f| %>
  <div class="flex-col">
    <%= f.text_field :username, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far shadow-none', placeholder: "\uf007 User Name"  %>

    <%= f.submit '変更', class: 'text-center rounded-full w-9/12 py-14 ml-32 bg-dark-black text-natural placeholder-gray-200 text-5xl far' %>
  </div>
<% end %>
