<h1>パスワード再設定</h1>

<p>以下のURLからパスワードの再設定を行ってください</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>※このメールアドレスは送信専用のため、返信は受け付けておりません。</p>
<p>※このメールに心当たりがない場合は、第三者がメールアドレスの入力を誤った可能性があります。</p>
<p>そのため、このメールは破棄していただいて結構です。</p>

<p>Mikke（ミッケ）</p>
<a href="https://a-mikke">https://a-mikke</a>

<p>ご意見、ご要望は以下よりお送りください。</p>
<a href="https://twitter.com/izuha0">https://twitter.com/izuha0</a>

<p>------------------------------------------------------------------</p>
<p>2022 Mikke.</p>
