<% set_meta_tags title: t('.title') %>
<div class="px-64 mx-32 text-dark-black">
  <div class="flex justify-between">
  <h1 class="text-6xl text-left mb-10"><%= @trivia.title %></h1>
  <%= link_to root_path, class: "text-6xl text-right text-light-blue offset-3" do %>
    <i class="fas fa-chevron-circle-right"></i>
  <% end %>
  </div>
  <p class="text-lg mx-24 tracking-wider"><%= @trivia.description %></p>
  <p class="text-xs font-thin text-dark-black border-b border-dark-black text-right mt-10">Trivia</p>
</div>
