<div class="px-64 mx-32 text-dark-black">
  <div class="flex justify-between">
  <h1 class="text-6xl text-left mb-10">気づき効果が、ある。</h1>
  <%= link_to root_path, class: "text-6xl text-right text-light-blue" do %>
    <i class="fas fa-chevron-circle-left"></i>
  <% end %>
  </div>
  <p class="text-lg mx-24 tracking-wider">都市化には多くの利点がありますが、うつ病などの精神疾患のレベルの上昇にも関連しています。自然体験の減少は、都市化と精神疾患との関連を説明するのに役立つ可能性があることが示唆されています。
  この提案は、相関的で実験的な証拠の増加によって裏付けられており、それはさらなる疑問を提起します：どのメカニズムが自然体験の減少を精神疾患の発症に結びつけるのでしょうか？</p>
  <p class="text-xs font-thin text-dark-black border-b border-dark-black text-right mt-10">Trivia</p>
</div>
