<% if diary_created.title? %>
<h1 class="text-2xl font-thin text-dark-black mb-5"><%= link_to diary_created.title, diary_path(diary_created) %></h1>
<% else %>
  <h1 class="text-2xl font-thin text-dark-black mb-5"><%= link_to "Untitled", diary_path(diary_created) %></h1>
<% end %>
<p class="text-dark-black font-thin mb-5">
  <%= link_to truncate(diary_created.text, length: 20), diary_path(diary_created) %>
</p>
