<div class="m-10">
  <div x-data="{ showModal : false }">
    <button @click="showModal = !showModal" class="m-2"><i class="far fa-trash-alt text-dark-black text-sm"></i></button>
    <div x-show="showModal" class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0" x-transition:enter="transition ease duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
      <div x-show="showModal" class="flex flex-col bg-white rounded-xl shadow-2xl p-6 w-4/12 mx-10" @click.away="showModal = false" x-transition:enter="transition ease duration-100 transform" x-transition:enter-start="opacity-0 scale-90 translate-y-1" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="transition ease duration-100 transform" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-90 translate-y-1">
        <div class="text-center text-md text-dark-black">本当に削除してよろしいですか？</div>
        <div class="text-center text-natural ml-32">
          <%= embedded_svg "undraw_throw_away_re_x60k.svg", class: "h-48 w-48" %>
        </div>
        <div class="flex justify-center">
          <button @click="showModal = !showModal" class="bg-dark-black text-natural rounded-lg hover:bg-natural hover:text-dark-black w-20 h-8 focus:outline-none mx-1">やめる</button>
          <%= link_to "削除", soliloquy, method: :delete, class: "flex justify-center bg-red-300 text-dark-black rounded-lg hover:bg-red-400 w-20 h-8 focus:outline-none pt-1 mx-1" %>
        </div>
      </div>
    </div>
  </div>
</div>
