<div class="rounded-full m-5 text-center">
  <% if Time.current.hour > 5 && Time.current.hour < 11  %>
    <h1 class="text-3xl lg:text-sm text-dark-black mb-2"><%= t '.hello_morning' , username: current_user.username %></h1>
  <% elsif Time.current.hour > 12 && Time.current.hour < 18 %>
    <h1 class="text-3xl lg:text-sm text-dark-black mb-2"><%= t '.hello_noon' , username: current_user.username %></h1>
  <% else %>
    <h1 class="text-3xl lg:text-sm text-dark-black mb-2"><%= t '.hello_night' , username: current_user.username %></h1>
  <% end %>
  <h1 class="text-3xl lg:text-sm text-dark-black mb-2 font-thin"><%= t '.today', today: I18n.l(Date.today, format: :long) %></h1>
</div>
