<% if object.creativity > 100 %>
  <div class="overflow-hidden h-5 text-xs flex rounded bg-lilac">
    <div id="stylewidth" style="width:<%= object.creativity %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-violet"></div>
  </div>
<% elsif object.creativity > 75 %>
  <div class="overflow-hidden h-5 text-xs flex rounded bg-moss-blue">
    <div id="stylewidth" style="width:<%= object.creativity %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-night-blue"></div>
  </div>
<% elsif object.creativity > 50 %>
  <div class="overflow-hidden h-5 text-xs flex rounded bg-sea-blue">
    <div id="stylewidth" style="width:<%= object.creativity %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-bottle-blue"></div>
  </div>
<% else %>
  <div class="overflow-hidden h-5 text-xs flex rounded bg-sky-gray">
    <div id="stylewidth" style="width:<%= object.creativity %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-lapis_lazuli"></div>
  </div>
<% end %>
