<div x-data="{ open: false }"
 class="visible lg:invisible fixed right-28 bottom-64">
  <div class="fixed right-28 bottom-64 z-20">
    <template x-if="open">
      <button class="rounded-full h-40 w-40 flex items-center justify-center bg-ice-green text-ivory transition-all	duration-300	 cursor-pointer">
      <%= heroicon('x', class_name: 'h-16 w-16') %>
      </button>
    </template>
  </div>
  <button x-ref="modal1_button" @click="open = true" class="rounded-full h-40 w-40 flex items-center justify-center bg-ice-green text-ivory transition-all	duration-300	 cursor-pointer">
    <%= heroicon('plus', class_name: 'h-24 w-24') %>
  </button>
  <div role="dialog" aria-labelledby="modal1_label" aria-modal="true" tabindex="0" x-show="open" @click="open = false; $refs.modal1_button.focus()" @click.away="open = false; $refs.modal1_button.focus()" class="fixed top-0 bottom-0 left-0 w-full h-screen pb-36">
    <div class="bottom-0 left-0 w-full h-screen bg-black opacity-40" aria-hidden="true" x-show="open"></div>
      <div @click.stop="" x-show="open" class="flex flex-col shadow-lg overflow-hidden z-10">
        <div class="z-20 absolute right-28 bottom-96 pb-14" id="modal1_label">
          <div class="flex justify-end items-center z-20">
            <p class="text-4xl mr-4 text-natural">投稿</p>
            <div class="rounded-full h-40 w-40 flex items-center justify-center bg-ice-green text-ivory mb-6">
              <%= link_to heroicon('pencil', class_name: 'h-24 w-24'), new_diary_path %>
            </div>
          </div>
          <div class="flex justify-end items-center z-20">
            <p class="text-4xl mr-4 text-natural">つぶやき</p>
            <div class="rounded-full h-40 w-40 flex items-center justify-center bg-ice-green text-ivory">
              <%= link_to heroicon('chat', class_name: 'h-24 w-24'), new_soliloquy_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
