<div x-data="{isShow: true}" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
  <!-- This is an example component -->
    <div class="flex justify-center mb-2">
        <label for="toogleButton" class="flex items-center cursor-pointer">
            <div class="px-2">タイマー</div>
        <!-- toggle -->
        <div class="relative">
          <input id="toogleButton" type="checkbox" class="hidden" @click="isShow = !isShow" />
          <!-- path -->
          <div
            class="toggle-path bg-light-blue w-9 h-5 rounded-full shadow-inner"
          ></div>
          <!-- crcle -->
          <div
            class="toggle-circle absolute w-3.5 h-3.5 bg-white rounded-full shadow"
          ></div>
        </div>
      </label>
    </div>
  <form name="timer">
    <div x-show="isShow" class="flex items-center justify-center mb-3 po-0">
      <input type="tel" value="10" maxlength="2" oninput="value = value.replace(/[^0-9]+/i,'');" class="bg-dark-black  border rounded w-12 py-2 px-3 text-natural shadow-lg border-white focus:border-white focus:ring focus:ring-white mx-3 font-thin">
      <p class="text-dark-black mr-3">:</p>
      <input type="tel" value="00" maxlength="2" oninput="value = value.replace(/[^0-9]+/i,'');" class="bg-dark-black  border rounded w-12 py-2 px-3 text-natural shadow-lg border-white focus:border-white focus:ring focus:ring-white font-thin">


      <%= button_tag type: "button", class: "rounded py-2 px-3 bg-dark-black text-natural mx-5 shadow-lg", onclick: "cntStart()" do %>
          <i class="fas fa-play fa-sm shadow-inner"></i>
      <% end %>

      <%= button_tag type: "button", class: "rounded py-2 px-3 bg-dark-black text-natural shadow-lg", onclick: "cntStop()" do %>
          <i class="fas fa-stop fa-sm shadow-inner"></i>
      <% end %>

    </div>
  </form>
</div>
