<% content_for(:title, t('.title')) %>
<div class="flex justify-center">
  <i class="fas fa-calendar text-3xl text-dark-black mr-3 mb-1 shadow-lg"></i>
  <h1 class="text-3xl font-thin text-dark-black"><%= l Time.current, format: :long %></h1>
</div>
<%= render 'diaries/timer' %>
<%= render 'diaries/form' %>
<%= render 'diaries/js_timer_logic' %>
