<div class="flex justify-center">
  <i class="fas fa-calendar text-3xl text-dark-black mr-3 mb-1 shadow-lg"></i>
  <h1 class="far text-3xl"><%= l Time.current, format: :long %></h1>
</div>
<%= render 'diaries/timer'%>
<%= render 'diaries/form' %>
<%= render 'diaries/js_diary'%>
