<h1 class="text-center text-2xl text-dark-black">今の感情を3つまで選択しましょう。</h1>
<section class="flex justify-center mx-auto">
  <%= collection_check_boxes @diary, :sentiment_ids, Sentiment.all, :id, :name do |t| %>
    <%= t.label(class: "relative bg-yellow-200 text-dark-black py-3 px-5 m-5 rounded-tl-3xl rounded-tr-2xl rounded-bl-2xl rounded-br-3xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-yellow-200 text-yellow-400 rounded-full") + t.text } %>
  <% end %>
</section>
