<div class="p-8 flex justify-between items-center">
  <div class="bg-transparent flex justify-start">
    <%= link_to image_tag('logo_transparent.png'), root_path, class: 'object-contain h-64 w-64' %>
  </div>
  <div class="invisible lg:visible flex justify-start">
    <%= heroicon 'view-list', class_name: 'h-10 w-10 text-dark-black mr-5' %>
  </div>
</div>
