<div class='flex bg-natural shadow-2xl justify-evenly rounded-t-lg overflow-x-scroll mx-auto py-8 px-2 mr-4 md:mx-6 sticky bottom-0 h-56'>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('home', class_name: 'h-24 w-24'), root_path %>
    </div>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('book-open', class_name: 'h-24 w-24'), "#" %>
    </div>

    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('chart-bar', class_name: 'h-24 w-24'), analysis_path %>
    </div>

    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('user', class_name: 'h-24 w-24'), "#" %>
    </div>
</div>
