<div class='flex bg-natural shadow-md justify-evenly rounded-lg overflow-x-scroll mx-auto py-4 px-2 mr-4 md:mx-6 pb-0 sticky bottom-0'>
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('home', class_name: 'h-6 w-6'), root_path %>
    </div>
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('book-open', class_name: 'h-6 w-6'), "#" %>
    </div>

    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('chart-bar', class_name: 'h-6 w-6'), analysis_path %>
    </div>

    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-dark-black text-natural hover:bg-natural hover:text-dark-black transition-all	duration-300	 cursor-pointer">
        <%= link_to heroicon('user', class_name: 'h-6 w-6'), "#" %>
    </div>
</div>
