<div class="flex justify-center mt-28">
  <div class="bg-transparent">
    <%= image_tag 'logo_transparent.png', class: 'object-contain h-64 w-64' %>
  </div>
</div>

<p class="text-center text-4xl text-dark-black font-hairline">初めてご利用される方</p>

<div class="flex-col">
  <div class="text-center rounded-full w-9/12 py-14 ml-32 my-12 bg-dark-black text-natural">
      <%= link_to "Sign up", new_user_path, class: "rounded-full py-16 px-64 text-5xl font-thin" %>
  </div>

  <div class="text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-indigo-100 text-dark-black">
      <%= link_to "Guest Login", "#", class: "rounded-full py-16 px-48 text-5xl font-thin" %>
  </div>
</div>

<div class="text-center mt-10">
  <%= link_to "ログインはこちら", login_path, class: "text-4xl text-dark-black border-b-2 border-dark-black" %>
</div>

<div class="rounded-3xl bg-natural py-20 px-48 mt-10 mb-20 mx-10">
  <div class="border-b-2 border-dark-black mb-12">
    <h1 class="text-center text-5xl text-dark-black pb-5">チュートリアル</h1>
  </div>
  <div class="border-b-2 border-dark-black mb-12">
  <h1 class="text-center text-5xl text-dark-black pb-5">ご利用規約</h1>
  </div>
  <div class="border-b-2 border-dark-black mb-8">
  <h1 class="text-center text-5xl text-dark-black pb-5">フィードバック</h1>
  </div>
</div>





