<div class="mb-20">
  <div class="px-32 relative right-0 bottom-0">
    <div class="grid grid-cols-10 gap-4 py-10">
      <h1 class="text-4xl font-thin col-span-6">Emotion chart</h1>
      <button class="bg-white text-dark-black rounded-full px-5 py-2 col-span-2 font-thin">
        Day
      </button>
      <button class="bg-white text-dark-black rounded-full px-5 py-2 col-span-2 font-thin">
        Week
      </button>
    </div>
    <div class="chart-container p-20 bg-white rounded-3xl flex justify-center">
        <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="px-32 relative right-0 bottom-0">
    <div class="grid grid-cols-10 gap-4 py-10">
      <h1 class="text-4xl font-thin col-span-6">Creativity chart</h1>
      <button class="bg-white text-dark-black rounded-full px-5 py-2 col-span-2 font-thin">
        Day
      </button>
      <button class="bg-white text-dark-black rounded-full px-5 py-2 col-span-2 font-thin">
        Week
      </button>
    </div>
    <div class="chart-container p-20 bg-white rounded-3xl flex justify-center">
        <canvas id="Chart"></canvas>
    </div>
  </div>
</div>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
 type: 'line',
 data: {
  labels: gon.chartdays,
  datasets: [{
   label: 'Positive',
   data: gon.positive_scores,
   fill:true,
   borderColor:"#FF5F5F",
   backgroundColor:"rgba(255,182,185,0.9)",
   pointBackgroundColor: "#FF5F5F",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }, {
   label: 'Negative',
   data: gon.negative_scores,
   fill:true,
   borderColor:"#3399FF",
   backgroundColor:"rgba(185,237,248,0.9)",
   pointBackgroundColor: "#3399FF",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }]
 },
 options: {
  responsive: true,
  scales: {
      y : {
              min: -1.0,
              max: 1.0,
              stepSize: 0.05,
              display: false
          }

  }
 }
});

var ctx = document.getElementById('Chart');
var Chart = new Chart(ctx, {
 type: 'line',
 data: {
  labels: gon.creative_days,
  datasets: [{
   label: 'Creativity(％)',
   data: gon.creative_sizes,
   fill:true,
   borderColor: '#f6d55c',
   backgroundColor: "rgba(240,216,121,0.8)",
   pointBackgroundColor: "#f6d55c",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }]
 },
 options: {
  responsive: true,
  options: {
        scales: {
            yAxes: {
                    beginAtZero:true
                }

        }
    }
 }
});
</script>
