<div class="w-full mb-64">
  <div class="mx-20">
    <div class="mb-10 font-thin">
      <h1 class="text-4xl text-dark-black">Mikke</h1>
      <h2 class="text-2xl text-dark-black">書く瞑想で<br>新しい自分を見つけてみませんか.</h2>
      <button class="rounted-md bg-blue-100 font-thin"><%= link_to 'Done', root_path %></button>
    </div>
  </div>
</div>
