<div class="h-full w-full bg-light-blue">
  <h1 class="text-1xl text-natural my-5">ホーム画面の基本操作について</h1>
  <div class="h-screen w-auto mx-5 rounded-md bg-white text-dark-black">
      <p>コンテンツ</p>
  </div>
</div>
