<div class="w-full mb-64">
  <div class="mx-20">
    <div class="mb-10">
      <h1 class="text-4xl text-dark-black far">タイマーについて</h1>
      <h1 class="text-4xl text-dark-black far">本文について</h1>
      <h1 class="text-4xl text-dark-black far">criativityについて</h1>
    </div>
  </div>
</div>
