<div class="mx-20 h-screen">
  <div class="mb-10">
    <h1 class="text-6xl text-dark-black far">Mikke</h1>
    <h2 class="text-4xl text-dark-black">書く瞑想を初めて<br>新しい自分が見つかる</h2>
  </div>
  <div class="mb-10">
    <h3 class="text-2xl text-dark-black">自分を客観視できる</h3>
    <p class="text-lg text-dark-black">自分の気持ち、感覚、考えなどは自分自身は常に一体化していているのが普通。自分自身を客観的に見るトレーニングをすることで、日常生活を送る中でもストレスがかかる場面においてマイナスな感情や物事にとらわれることなく、自分らしく生き生きと過ごせるようになります。</p>
  </div>
  <div class="mb-10">
    <h3 class="text-2xl text-dark-black">自分自身への理解が深まる</h3>
    <p class="text-lg text-dark-black">「自分はどんな時にストレスがかかるのか」、「どんな時に悲しくなるのか」、「どんなことをすると楽しいのか」、自分自身の心や感情の癖がよく分かるようになります。</p>
  </div>
  <div class="mb-10">
    <h3 class="text-2xl text-dark-black">自分自身への理解が深まる</h3>
    <p class="text-lg text-dark-black">「自分はどんな時にストレスがかかるのか」、「どんな時に悲しくなるのか」、「どんなことをすると楽しいのか」、自分自身の心や感情の癖がよく分かるようになります。</p>
  </div>
  <div class="mb-10">
    <h3 class="text-2xl text-dark-black">自分自身への理解が深まる</h3>
    <p class="text-lg text-dark-black">「自分はどんな時にストレスがかかるのか」、「どんな時に悲しくなるのか」、「どんなことをすると楽しいのか」、自分自身の心や感情の癖がよく分かるようになります。</p>
  </div>

  <div class="mb-10 flex justify-left">
    <div class="rounded-3xl bg-natural py-48 px-48">
      <p>テスト</p>
    </div>
    <div class="text-dark-black">
      <h4>Point</h4>
      <p>・朝書くこと</p>
      <p>・朝書くこと</p>
      <p>・朝書くこと</p>
      <p>・朝書くこと</p>
    </div>
  </div>
</div>
