<div class="visible lg:invisible flex justify-evenly absolute inset-x-0 bottom-16 w-auto h-16 rounded-t-lg shadow-2xl bg-natural mx-5">
  <div class="flex justify-center items-center">
    <%= heroicon 'home', class_name: 'h-8 w-8 text-dark-black' %>
  </div>
  <div class="flex justify-center items-center">
    <%= heroicon 'book-open', class_name: 'h-8 w-8 text-dark-black' %>
  </div>
  <div class="flex justify-center items-center">
    <%= heroicon 'chart-bar', class_name: 'h-8 w-8 text-dark-black' %>
  </div>
  <div class="flex justify-center items-center">
    <%= heroicon 'user', class_name: 'h-8 w-8 text-dark-black' %>
  </div>
</div>
