<div class="flex justify-between items-center">
  <div class="bg-transparent flex justify-start">
    <%= image_tag 'logo_transparent.png', class: 'object-contain h-24 w-24' %>
  </div>
  <div class="invisible md:visible flex justify-start">
    <%= heroicon 'view-list', class_name: 'h-10 w-10 text-dark-black mr-5' %>
  </div>
</div>
