<div class="grid grid-cols-12 gap-4">
  <div class="col-span-2 mt-4 ml-6">
    <h1 class="text-sm text-dark-black mb-1 mr-1.5 font-thin">11</h1>
    <div class="bg-natural rounded-full h-5 w-5 flex items-center justify-center relative">
      <h1 class="text-xs text-dark-black font-thin">火</h1>
      <span class="bg-red-400 h-1 w-1 rounded-full block absolute top-0 right-0"></span>
    </div>
    <h1 class="text-xs text-dark-black font-thin">2022/02</h1>
  </div>
  <div class="p-4 col-span-10">
    <div class="bg-natural rounded-3xl shadow-md relative">
      <div class="p-6">
        <i class="absolute top-5 left-5 fas fa-medal text-md text-yellow-500"></i>
        <div class="mt-2 text-center">
          <h1 class="text-xs font-thin text-dark-black mb-2">今日も書いていくよ。</h1>
        </div>
        <div class="bg-white rounded">
        <div class="h-5 text-xs flex rounded bg-orange-100">
          <div style="width:62%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-400"></div>
        </div>
        <p class="text-xs text-center text-dark-black font-thin">Creativity</p>
        </div>
      </div>
    </div>
  </div>
</div>
