<div class="grid grid-cols-12 gap-4">
  <div class="col-span-2 mt-4 ml-6">
    <h1 class="text-sm text-matte mb-1 mr-1.5 font-thin">11</h1>
    <div class="bg-natural rounded-full h-5 w-5 flex items-center justify-center relative">
      <h1 class="text-xs text-matte font-thin">火</h1>
      <span class="bg-red-400 h-1 w-1 rounded-full block absolute top-0 right-0"></span>
    </div>
    <h1 class="text-xs text-matte font-thin">2022/02</h1>
  </div>
  <div class="col-span-10 p-4">
    <div class="bg-natural rounded-3xl shadow-md relative">
      <div class="p-6 flex justify-center relative">
        <div class="text-center">
          <p class="text-gray-600 text-xs">何か書くことないかな、、、</p>
        </div>
        <div class="absolute right-2 flex justify-center">
          <div class="rounded-full h-6 w-6 flex items-center justify-center bg-white text-matte">
            <%= heroicon 'dots-horizontal', style: :outline, class_name: 'h-2 w-2 text-matte' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
