<div class="flex flex-col h-screen text-dark-black">
  <div class="p-8 flex justify-between items-center">
    <div class="bg-transparent flex justify-start">
      <%= image_tag 'logo_transparent.png', class: 'object-contain h-64 w-64', alt: t('.alt') %>
    </div>
  </div>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
  <p class="font-thin">ようこそ Mikkeのチュートリアルへ</p>
</div>
