<div class="px-20">
  <h1>独り言</h1>

  <%= form_with model: @soliloquy, local: true do |f|%>

    <%= f.label :soliloquy %>
    <%= f.text_field :soliloquy %>

    <%= f.submit nil %>
  <% end %>
</div>
